@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 240 1% 100%;
    --card-foreground: 0% 0% 100%;

    --popover: 240 1% 20%;
    --popover-foreground: 0% 0% 100%;

    --primary: 70.465 97% 65%;
    --primary-foreground: 0% 0% 0%;

    --secondary: 240 1% 20%;
    --secondary-foreground: 0% 0% 100%;

    --muted: 240 1% 20%;
    --muted-foreground: 0% 0% 100%;

    --accent: 70.465 97% 65%;
    --accent-foreground: 0% 0% 100%;

    --destructive: 5.969 100% 63%;
    --destructive-foreground: 0% 0% 100%;

    --border: 240 1% 100%;
    --input: 240 1% 100%;
    --ring: 240 1% 100%;

    --radius: 0.625rem;

    --success: 124 76% 63%;
    --warning: 50 100% 55%;
    --error: 5.969 100% 63%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 240 1% 20%;
    --card-foreground: 0% 0% 100%;

    --popover: 240 1% 20%;
    --popover-foreground: 0% 0% 100%;

    --primary: 70.465 97% 65%;
    --primary-foreground: 0% 0% 0%;

    --secondary: 240 1% 20%;
    --secondary-foreground: 0% 0% 100%;

    --muted: 240 1% 20%;
    --muted-foreground: 0% 0% 100%;

    --accent: 70.465 97% 65%;
    --accent-foreground: 0% 0% 0%;

    --destructive: 5.969 100% 63%;
    --destructive-foreground: 0% 0% 100%;

    --border: 240 1% 20%;
    --input: 240 1% 20%;
    --ring: 240 1% 20%;

    --radius: 0.625rem;

    --success: 124 76% 63%;
    --warning: 50 100% 55%;
    --error: 5.969 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
